<h1>Edit Transaction</h1>

<%= render partial: 'form', :locals => { form_url: budget_transaction_path } %>

<%= link_to 'Show', budget_transaction_path %> |
<%= link_to 'Back', budget_transactions_path %>
