<div class="row">
  <div class="col-xs-3">
    <%= render partial: 'sidebar' %>
  </div>
  <div class="col-xs-6">

    <h1><i class="glyphicon glyphicon-plus"></i> New Transaction</h1>

    <%= render partial: 'form', :locals => { form_url: budget_transactions_path } %>
  </div>
</div>
